nav {
    background-color: coral;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

body {
    margin: 0;
}

img{
    width: 16rem;
}
.header {
    display: flex;
    align-items: center;
}